#passwordAlertWarning{
    display: none;
}

#passwordAlertDanger{
    display: none;
    
}

.alertText{
    font-size: 12px;
}

#emailAlert{
    display: none;
}

#usernameAlert{
    display: none;
}