<div class="row justify-content-center mt-5">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="formEmail">Adresse mail</label>
            <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="Adresse mail">
          </div>
          <div class="form-group">
            <label for="formPassword">Mot de passe</label>
            <input type="password" class="form-control" id="formPassword" placeholder="Mot de Passe">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
          </div>
          <a href="#">Mot de passe oublié</a>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary m-1">Se connecter</button>
            <button class="btn btn-secondary m-1" routerLink="/signin" routerLinkActive="active">Pas encore de compte?</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>